apiVersion: apps/v1
kind: Deployment
metadata:
  name: jobber-app-notification
  namespace: development
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jobber-app-notification
  template:
    metadata:
      labels:
        app: jobber-app-notification
    spec:
      containers:
        - name: app-notification
          image: ronasunil/jobber-app-notification:latest
          env:
            - name: PORT
              value: ""
            - name: ELASTIC_SEARCH_ENDPOINT
              value: ""
            - name: API_GATEWAY_ENDPOINT
              value: ""
            - name: MONGO_DB_ENDPOINT
              value: ""
            - name: RABBITMQ_ENDPOINT
              value: ""
            - name: REDIS_ENDPOINT
              value: ""
          resources:
            limits:
              memory: "1Gi"
              cpu: "500m"
            requests:
              memory: "500Mi"
              cpu: "250m"
          ports:
            - name: app-notification
              containerPort: 2006
